body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.controles {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.control {
    width: 30%;
}

.bandera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 3px solid black;
}

.columna {
    width: 33.33%;
    height: 300px;
}

.verde {
    background-color: #009900;
}

.blanco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.blanco img {
    width: 400px;
}



.rojo {
    background-color: #9D0000;
}

footer {
    margin-top: 20px;
    font-weight: bold;
}
